 <!-- nav bar -->
 <nav class="navbar navbar-expand-lg bg-dark text-white">
    <div class="container-fluid">
        <a class="navbar-brand text-center py-3 text-white fs-4 px-2">
            <i class="fas fa-home"></i>
            Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent ">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item text-white">
            <a class="nav-link active text-white" aria-current="page" routerLinkActive="bg-success rounded-pill" routerLink="home">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLinkActive="bg-success rounded-pill" routerLink="about">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLinkActive="bg-success rounded-pill" routerLink="gallery">Gallery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLinkActive="bg-success rounded-pill" routerLink="team">Team</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" aria-current="page" routerLinkActive="bg-success rounded-pill" routerLink="contact">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
