



<section class="">
    
    <h1 class="animate__animated animate__flipInX and animate__infinite  text-center py-4">Gallery</h1>
    
    


      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner pb-5">
          <div class="carousel-item active">
            <img src="../../assets/IMGS/pexels-alex-andrews-821651.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-alex-andrews-821749.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-alex-azabache-3907507.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-daan-stevens-939331.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-demeter-attila-50924.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-javon-swaby-2783873.jpg" class="d-block" alt="...">
          </div>

          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-kaique-rocha-243757.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-karolina-grabowska-5632381.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-jess-bailey-designs-788946.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-karolina-grabowska-5632388.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-lina-kivaka-1879318.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-tyler-lastovich-699122.jpg" class="d-block" alt="...">
          </div>

          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-noah-erickson-404280.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-lisa-fotios-1006293.jpg" class="d-block" alt="...">
          </div>

          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-math-90946.jpg" class="d-block" alt="...">
          </div>

          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-milo-young-3602258.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-pavel-danilyuk-8038323.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-pixabay-279906.jpg" class="d-block" alt="...">
          </div>  <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-pixabay-459653.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/IMGS/pexels-sameer-kalani-3802602.jpg" class="d-block" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
    </section>